NODE_ENV = development

PORT = 5000

APP_URL = "http://localhost:5000"

MONGO_URI = mongodb://127.0.0.1:27017/CarsDB

DB_CONNECTION=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_DATABASE=CarsDB
DB_USER_DATABASE=""
DB_PASSWORD="

#Node mailer
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_EMAIL = ""
SMTP_PASSWORD = ""
FROM_NAME="Admin Cars System"

ADMIN_EMAIL = "thangld2407@gmail.com"

JWT_SECRET= "akjdhkh123lkhjákldh"
JWT_REFRESH_SECRET = "kjhadkjhadhyuoolqwuej"