/node_modules


# remove dotenv
.env
.env.development
.env.production


package-lock.json
./package-lock.json
npm-debug.log
yarn-error.log 

# remove public file css
public/css/main.css.map
public/css/main.css

# remove public file upload 
/public/image/*

/public/uploads/*.jpeg
/public/uploads/*.pdf
/public/uploads/*.png
/public/uploads/*.jpg
/public/uploads/*.gif
/public/uploads/*.svg
/public/uploads/*.ico
/public/uploads/*.webp
/public/uploads/*.webmanifest
/public/uploads/*.xml
/public/uploads/*.json
/public/uploads/*.txt
/public/uploads/*.html
/public/uploads/*.js
/public/uploads/*.css
/public/uploads/*.map
/public/uploads/*.peg